<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Sistema de Helpdesk</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/helpdesk.css') }}">
        <style>
        </style>
    </head>
<body>
    <main class="container">
        <section id="formulario" class="page-panel page-panel--narrow">
            <h1>Sistema de Helpdesk</h1>
                <p>Bem-vindo ao Sistema de Helpdesk</p>
                <p>Gerencie seus chamados de suporte</p>
            <p>
                <a href="{{ url_for('cadastro') }}" role="button" class="full-button">Cadastro</a>
            </p>

            <p>
                <a href="{{ url_for('fila') }}" role="button" class="full-button">Ver Filas</a>
            </p>
            <p>
                <a href="{{ url_for('voltar2') }}" role="button" class="full-button">Voltar</a>
            </p>
        </section>
    </main>
</body>
</html>